<template>
    <v-container fluid class="api-paths-list">

        <v-card :loading="this.loading">
            <v-list dense>
                <template v-for="path in paths">

                    <v-list-item
                            :key="path"
                            two-line
                    >
                        <v-list-item-avatar>
                            <v-icon>mdi-folder</v-icon>
                        </v-list-item-avatar>

                        <v-list-item-content>
                            <v-list-item-title>{{path}}</v-list-item-title>
                        </v-list-item-content>

                        <v-list-item-action>
                            <v-btn @click="sendRequest(path)" small color="black">
                                GET
                            </v-btn>
                        </v-list-item-action>
                    </v-list-item>
                    <v-divider></v-divider>
                </template>
            </v-list>
        </v-card>

        <v-dialog v-model="responseDialog.show" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card>
                <v-toolbar dark color="primary">
                    <v-toolbar-title>{{responseDialog.title}}</v-toolbar-title>
                    <div class="flex-grow-1"></div>
                    <v-btn icon @click="responseDialog.show = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar>
                <json-view :data="this.responseDialog.data" theme="one-dark" :deep="2"/>
            </v-card>
        </v-dialog>
    </v-container>
</template>


<script>
    import tvh from "../../services/tvh";
    import JsonView from "vue-json-views"

    export default {
        components: {
            JsonView
        },

        name: 'ApiPathsList',



        data() {
            return {
                paths: [],
                responseDialog: {
                    title: 'Response',
                    show: false,
                    data: null
                },
                loading: false
            }
        },

        methods: {
            sendRequest(path) {
                tvh.$axios.get('/api/' + path).then(response => {
                    // console.log(response.data);
                    // alert(JSON.stringify(response.data));
                    this.responseDialog.show = true;
                    this.responseDialog.data = response.data;
                    this.responseDialog.title = path;
                });
            }
        },

        mounted() {
            this.$store.dispatch("app/startLoading");
            this.loading = true;

            tvh.$axios.get('/api/pathlist').then(response => {
                const paths = response.data;

                this.paths = paths;
            }).finally(() => {
                this.$store.dispatch("app/doneLoading");
                this.loading = false;
            });
        }
    };
</script>
