<template>
    <v-container fluid v-if="this['raw/classes']">

        <v-list dense two-line v-for="group in items">
            <v-subheader>{{group.class.title}}</v-subheader>

            <v-list-item
                    :key="group.class.className"
                    :to="group.class.to"
                    two-line
            >
                <v-list-item-avatar>
                    <v-icon>mdi-table-large</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title>{{group.class.title}}</v-list-item-title>
                    <v-list-item-subtitle>{{group.class.className}}</v-list-item-subtitle>
                </v-list-item-content>




            </v-list-item>

            <v-list-item
                    v-for="item in group.subclasses"
                    :key="item.className"
                    two-line
                    :to="item.to"
            >
                <v-list-item-avatar>
                    <v-icon>mdi-table</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title>{{item.title}}</v-list-item-title>
                    <v-list-item-subtitle>{{item.className}}</v-list-item-subtitle>
                </v-list-item-content>

                
            </v-list-item>
            <v-divider></v-divider>

        </v-list>
    </v-container>
</template>


<script>
    import tvh from "../../services/tvh";
    import {mapGetters, mapState, mapActions} from 'vuex';

    export default {
        name: 'ClassesList',

        data() {
            return {
                drawer: true,
                user: '',
                loading: false,

                items: []
            }
        },

        async mounted() {
            await this.fetchData();
        },


        // watch: {
        //     '$route': 'fetchData'
        // },

        computed: {
            ...mapGetters(['raw/classes']),
        },

        methods: {
            // ...mapActions([
            //     'raw/loadClasses',
            //     'raw/loadClass'
            // ]),

            async fetchData() {
                this.$store.dispatch('app/startLoading');
                await this.$store.dispatch('raw/loadClasses');

                let groups = [];

                this['raw/classes'].forEach(item => {
                    // let prefix = '';
                    // let categories = {};
                    //
                    // if (item.className.indexOf('_') < 0) {
                    //     prefix = item.className;
                    // } else {
                    //     prefix = item.className.split('_')[0];
                    // }
                    //
                    // if (categories[prefix] === undefined) {
                    //     categories[prefix] = {}
                    // }

                    // categories[prefix].classes.push(item);


                    // try to detect subclasses
                    let existingGroup = groups.find(group => {
                        return item.className.startsWith(group.class.className) &&
                            (item.className.indexOf('_') > 0 || item.className.indexOf('-') > 0);
                    });

                    item.to = {
                        name: 'ClassesShow',
                        params: {
                            class: item.className
                        }
                    };


                    if (existingGroup) {
                        existingGroup.subclasses.push(item);
                    } else {
                        groups.push({
                            class: item,
                            subclasses: []
                        });
                    }
                });


                this.items = groups;

                this.$store.dispatch('app/doneLoading');

            },

            async showClassInfo(className) {
                const res = await tvh.$axios.get('/api/idnode/class?name=' + className);
                console.log(res.data);
            }

            // async loadClass(className) {
            //     await this.$store.dispatch('raw/loadClass', className);
            // }
        }
    }
    ;
</script>
