<template>
    <v-container fluid class="classes-show">
        <v-sheet>
            <v-toolbar color="grey darken-3" dense>
                <v-btn icon :to="{name: 'ClassesList'}">
                    <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
                <v-toolbar-title>
                    {{className}}
                </v-toolbar-title>
                <div class="flex-grow-1"></div>

                <v-btn icon small class="hidden-xs-only">
                    <v-icon>mdi-magnify</v-icon>
                </v-btn>
                <template v-slot:extension>
                    <v-tabs
                            fixed-tabs
                            dark
                            dense
                            color="white"
                            background-color="grey darken-4"
                            v-model="activeTab"
                    >
                        <v-tabs-slider></v-tabs-slider>

                        <v-tab key="classInfo"
                               href="#tab-class-info"
                        >
                            Class Info
                        </v-tab>
                        <v-tab key="dataRaw"
                               href="#tab-data-raw"
                        >
                            Raw
                        </v-tab>
                        <v-tab key="dataIdnode"
                               href="#tab-data-idnode"
                        >
                            Idnode
                        </v-tab>
                    </v-tabs>
                </template>
            </v-toolbar>

            <v-tabs-items v-model="activeTab">
                <v-tab-item
                        key="classInfo"
                        value="tab-class-info"
                >
                    <tvh-class-info :class-name="this.$route.params.class"></tvh-class-info>
                </v-tab-item>
                <v-tab-item
                        key="dataRaw"
                        value="tab-data-raw"
                >
                    <v-card
                            flat
                            tile
                    >
                        <v-card-text>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
                <v-tab-item
                        key="dataIdnode"
                        value="tab-data-idnode"
                >
                    <v-card
                            flat
                            tile
                    >
                        <v-card-text>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
            </v-tabs-items>

        </v-sheet>

    </v-container>
</template>


<script>
    import tvh from '../../services/tvh';

    export default {
        name: 'ClassesShow',
        components: {
        },

        data: () => ({
            status: [],
            class: '',
            rawData: '',
            idnodeData: '',
            activeTab: 'tab-class-info',
            classInfo: {},

        }),

        watch: {
            '$route'(to, from) {
                this.load();
            }
        },

        async created() {
            await this.load();
        },

        methods: {
            async load() {
                this.className = this.$route.params.class;

                this.rawData = await tvh.$axios.get('/api/raw/export?class=' + this.className);
                this.idnodeData = await tvh.$axios.get('/api/idnode/load?class=' + this.className);
                // this.classInfo = await tvh.$axios.get('/api/idnode/class?name=' + this.className);
            }
        }
    };
</script>
