<template>

    <v-container fluid class="form-components">
        <h1>Form Components</h1>

        <tvh-idnode-form-field :property="{type: 'bool'}" />

    </v-container>
</template>


<script>

    import TvhIdnodeFormField from '../../components/TvhIdnodeFormField';

    export default {
        name: 'FormComponents',
        components: {
            TvhIdnodeFormField
        },

        data: () => ({


        }),

        mounted() {
        }
    };
</script>
