<template>
    <div class="home">
        <v-layout
                text-center
                wrap
        >
            <v-flex xs12>
                <v-img
                        :src="require('../assets/logo.svg')"
                        class="my-3"
                        contain
                        height="200"
                ></v-img>
                <h1 class="display-2 font-weight-bold mb-3">
                    Welcome to Tvheadend
                </h1>
            </v-flex>

            <v-container>
                <v-row>
                    <v-card>
                        <v-card-title>Access</v-card-title>


                        {{$store.getters.access}}

                    </v-card>


                    <v-col cols="6">
                        <v-card>
                            <v-card-title class="pt-20">
                                <v-badge
                                        color="secondary"
                                >
                                    Subscriptions
                                    <template v-slot:badge>{{$store.getters.subscriptions.length}}</template>
                                </v-badge>
                            </v-card-title>
                            <v-expansion-panels accordion>
                                <v-expansion-panel
                                        v-for="(sub, index) in $store.getters.subscriptions"
                                        :key="index"
                                >
                                    <v-expansion-panel-header>
                                        {{sub.title}} | <span class="font-weight-light">&nbsp;{{sub.client}} ({{sub.hostname}})</span>
                                    </v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <v-simple-table dense>
                                            <thead>
                                            <tr>
                                                <th class="text-left">Property</th>
                                                <th class="text-right">Value</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                             <tr v-for="(val, property) in sub" :key="property">
                                                <td class="text-left">{{ property }}</td>
                                                <td class="text-right">{{ val }}</td>
                                            </tr>
                                            </tbody>
                                        </v-simple-table>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-expansion-panels>

                            <v-divider></v-divider>

                        </v-card>
                    </v-col>

                    <v-col cols="6">
                        <v-card>
                            <v-card-title>DVR</v-card-title>
                            <v-divider></v-divider>
                            Total: {{$store.getters.access.totaldiskspace | numeral('0.00 b')}}<br>
                            Free: {{$store.getters.access.freediskspace | numeral('0.00 b')}}<br>
                            Used: {{$store.getters.access.useddiskspace | numeral('0.00 b')}}<br>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-layout>
    </div>
</template>


<script>
    export default {

        data() {
            return {}
        }

    }
</script>
