<template>
    <div class="about">
            <v-layout
                    wrap
                    text-center
            >
                <v-flex xs12>
                    <v-img
                            :src="require('../assets/logo.svg')"
                            class="my-3"
                            contain
                            height="200"
                    ></v-img>
                </v-flex>

                <v-flex mb-4>
                    <h1 class="display-2 font-weight-bold mb-3">
                        {{status.name}}
                    </h1>
                    <v-layout justify-center>

                        <v-card
                                max-width="400"
                                class="pb-2"
                        >
                            <v-list-item>
                                <v-list-item-title class="text-left">Software Version</v-list-item-title>
                                <v-list-item-subtitle class="text-right">{{status.sw_version}}</v-list-item-subtitle>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-title class="text-left">API Version</v-list-item-title>
                                <v-list-item-subtitle class="text-right">{{status.api_version}}</v-list-item-subtitle>
                            </v-list-item>

                          <v-divider></v-divider>

                          <v-list-item>
                            <v-list-item-title class="text-center">Capabilities</v-list-item-title>
                          </v-list-item>
                              <v-chip
                                    v-for="(capability, i) in status.capabilities"
                                    :key="i"
                                    class="ma-1"
                                    label
                            >
                                {{capability}}
                            </v-chip>
                        </v-card>
                    </v-layout>
                </v-flex>

                <v-flex
                        mb-5
                        xs12
                >
                    <!--          <h2 class="headline font-weight-bold mb-3">Capabilities</h2>-->

                    <v-layout justify-center>

                    </v-layout>
                </v-flex>
            </v-layout>
    </div>
</template>


<script>
    import tvh from '../services/tvh';

    export default {
        data: () => ({
            status: []
        }),

        mounted() {
            tvh.$axios.get('/api/serverinfo').then(response => {
                this.status = response.data;
            });
        }
    };
</script>
