<template>
    <div class="live-tv">
        <v-navigation-drawer
                absolute
                expand-on-hover
                right
        >
            <template v-slot:prepend>
                <v-list-item>
                    <v-list-item-icon><v-icon>mdi-television</v-icon></v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>Channels</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </template>

            <v-divider></v-divider>

            <v-list>
                <v-list-item
                        v-for="item in channels"
                        :key="item.uuid"
                        :to="'/live-tv/play/' + item.uuid"
                >
                    <v-list-item-icon style="text-align: center">
                        <channel-logo :url="item.icon_public_url" style="max-height: 40px; max-width: 40px; min-width: 40px; height: auto;" />
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ item.name }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-layout v-if="this.$route.params.uuid">
            <Media
                    :kind="'video'"
                    :controls="true"
                    :autoplay="true"
                    :src="streamUrl"
                    type="video/webm"
                    width="100%"

            ></Media>
        </v-layout>

    </div>



</template>


<script>
    import ChannelLogo from "../components/ChannelLogo.vue";
    import Media from '@dongido/vue-viaudio';
    import tvh from '../services/tvh'


    export default {
        components: {
            'channel-logo': ChannelLogo,
            Media
        },

        data: () => ({
            channels: [],
            streamUrl: '',
            videoType: "video/webm"
        }),

        watch: {
            '$route' () {
                this.changeVideo();
                console.log(this.streamUrl);
            }
        },

        async mounted() {
            tvh.$axios.get('/api/channel/grid').then(response => {
                this.channels = response.data.entries
            })
            .catch(error => {
                console.log(error);
            })
        },

        created() {
            this.changeVideo();
        },

        methods: {
            changeVideo() {
                console.log('change video');
                // this.streamUrl = 'http://admin:password@ip.address:port/stream/channel/' + this.$route.params.uuid + '?profile=webtv-vp8-vorbis-webm';
            }
        }
    };
</script>
