<template>


            <v-row
                    align="center"
                    justify="center"
            >

                <v-col
                        cols="12"
                        sm="8"
                        md="4"
                >
                    <v-expand-transition>
                        <v-alert
                                v-if="error"
                                type="error"
                                transition="scale-transition"
                                class="mt-5 mb-5"
                                border="bottom"
                        >
                            {{error}}
                        </v-alert>
                    </v-expand-transition>

                    <v-expand-transition>

                        <v-card>
                            <v-list dense v-if="connections.length > 0">
                                <v-subheader>Connections</v-subheader>
                                <tvh-list-item-connection
                                        v-for="(connection, index) in this.connections"
                                        :key="index"
                                        :connection="connection"
                                        @click="loginUsingConnection(connection)"
                                        @error="handleError"
                                        @delete="deleteConnection(index)"
                                >

                                </tvh-list-item-connection>

                            </v-list>


                            <v-expand-transition>
                                <tvh-create-connection
                                        v-if="showCreateConnection"
                                        @cancel="toggleCreateConnection"
                                        @onError="handleError"
                                        @onTestSuccess="clearError"
                                >
                                </tvh-create-connection>
                            </v-expand-transition>

                            <v-card-actions>
                                <div class="flex-grow-1"></div>
                                <v-btn elevation="6" v-if="!showCreateConnection" @click="toggleCreateConnection">
                                    New Connection
                                </v-btn>
                                <div class="flex-grow-1"></div>
                            </v-card-actions>
                        </v-card>
                    </v-expand-transition>



                </v-col>
            </v-row>
</template>

<script>
    import router from "../router";

    import TvhListItemConnection from "../components/TvhListItemConnection";
    import TvhCreateConnection from "../components/TvhCreateConnection";

    export default {
        name: 'Login',

        components: {
            TvhListItemConnection,
            TvhCreateConnection
        },

        data() {
            return {
                showCreateConnection: false,
                error: '',

                connecting: false,

                connections: []
            }
        },

        created() {
            this.returnUrl = this.$route.query.returnUrl || '/';
            this.$store.dispatch('connectionsLoad');
            this.connections = this.$store.getters.connections;
        },

        methods: {


            toggleCreateConnection() {
                this.showCreateConnection = !this.showCreateConnection;
            },

            handleError(error) {
                this.error = error;
            },

            clearError() {
                this.error = '';
            },

            loginUsingConnection(connection) {
                this.connecting = true;

                this.$store.dispatch('authRequest', connection).then(() => {
                    router.push(this.returnUrl).catch(() => {});
                }).catch(reason => {
                    this.onError(reason);
                    this.error = reason;
                }).finally(() => {
                    this.connecting = false;
                });
            },

            deleteConnection(index) {
                this.$store.dispatch('connectionsDelete', index);
            }

        }
    }
</script>


<style scoped>

</style>
