<template>
        <v-container
                fluid
                class="fill-height"
                aria-label="text"
        >
            <v-row>
                <v-col cols="12">
                    <v-row align="center" justify="center">
                        <v-col cols="12" sm="8" md="4">
                            <v-row align="center" justify="center">
                                <v-col align="center">
                                    <tvh-logo wings-color="#303030" dot-color="#303030" rotating size="50%"/>
                                </v-col>
                            </v-row>
                            <v-row class="text-center">
                                <v-col>
                                <span class="font-weight-light grey--text text--darken-3 text-uppercase font-weight-bold">
                                    {{text}}
                                </span>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>

                </v-col>
            </v-row>
        </v-container>
</template>

<script>
    import TvhLogo from "./TvhLogo";
    import {mapGetters, mapState} from 'vuex'


    export default {
        name: "BaseLoading",
        components: {TvhLogo},

        props: {
            text: {
                type: String,
                default: 'Loading... this may take a while...'
            }
        },

        computed: {
            ...mapGetters(['app/loadingStack'])
        }

    }
</script>

<style scoped>

</style>
