<template>
    <img :src="link" alt="channel-logo" v-if="link" />
    <span class="no-image" v-else></span>
</template>

<script>
    import {tvh} from '../services/tvh';

    export default {
        props: {
            url: {type: String, required: true}
        },

        data: function() {
            return {
                link: ''
            }
        },

        created() {
            this.getLink();
        },

        methods: {
            getLink() {
                return tvh.$axios.get('/' + this.url, { responseType: 'arraybuffer' })
                    .then((response) => {
                        if (response.status === 200) {
                            this.link = 'data:image/png;base64,' + new Buffer(response.data, 'binary').toString('base64');
                        } else {
                            this.link = false;
                        }
                    })
                    .catch(error => {
                        this.link = false;
                    })
                    ;
            }
        }
    };
</script>
