<template>
    <v-form
            @submit.prevent="handleSubmit"
            v-model="valid"
            ref="loginForm"
    >
        <v-list dense>
            <v-list-item>
            <v-list-item-title>Create New Connection</v-list-item-title>
            </v-list-item>
                <v-list-item>
                <v-text-field
                        label="Username"
                        name="username"
                        prepend-icon="mdi-account-circle"
                        type="text"
                        v-model="username"
                        :rules="[() => username.length > 0 || 'Please enter your username']"
                        required

                ></v-text-field>
                </v-list-item><v-list-item>
                <v-text-field
                        id="password"
                        v-model="password"
                        label="Password"
                        name="password"
                        prepend-icon="mdi-lock"
                        :rules="[() => password.length > 0 || 'Please enter your password']"

                        :type="showPassword ? 'text' : 'password'"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        @click:append="showPassword = !showPassword"

                        required

                ></v-text-field>
        </v-list-item><v-list-item>
                <v-text-field
                        id="host"
                        v-model="host"
                        label="Host"
                        name="host"
                        prepend-icon="mdi-web"
                        :rules="[() => host.length > 0 || 'Please enter a valid host']"
                        required
                        hint="http://your.ip.address:port"
                        persistent-hint

                ></v-text-field>
        </v-list-item>
            <v-card-actions class="mt-5">
                <v-btn
                        color=""
                        class="mr-2"
                        @click="handleCancel"
                >Cancel
                </v-btn>
                <div class="flex-grow-1"></div>
                <v-btn
                        :color="status"
                        :loading="loading"
                        :disabled="(loading || !valid)"
                        class="mr-2"
                        @click="testConnection"
                >Test
                </v-btn>
                <v-btn
                        type="submit"
                        color=""
                        :disabled="!valid"
                >CREATE
                </v-btn>
            </v-card-actions>
        </v-list>
    </v-form>
</template>

<script>
    import tvh from "../services/tvh";

    export default {
        props: {
            connection: [Object],
            click: [String],
            cancel: [String],
        },

        data() {
            return {
                username: '',
                password: '',
                host: '',

                error: '',

                submitted: false,
                loading: false,
                returnUrl: '',
                valid: false,

                status: '',

                showPassword: false,
            }
        },

        methods: {
            handleSubmit(e) {
                const {username, password, host} = this;

                const connection = {
                    username: username,
                    password: password,
                    host: host
                };

                this.$store.dispatch('connectionsAdd', connection);
            },

            testConnection() {
                this.validate();
                this.submitted = true;
                const {username, password, host} = this;

                if (!this.valid) {
                    return;
                }

                this.loading = true;

                tvh.login(host, username, password).then(() => {
                    this.error = '';
                    this.status = 'success';
                    this.onTestSuccess();
                }).catch(reason => {
                    this.onTestFailed(reason);
                    this.status = 'error';
                    this.error = reason;
                }).finally(() => {
                    this.loading = false;
                });
            },

            validate() {
                this.$refs.loginForm.validate();
            },

            onTestFailed(error) {
                this.$emit('onError', error);
            },

            onTestSuccess() {
                this.$emit('onTestSuccess');
            },

            handleClick() {
                this.$emit('click');
            },

            handleCancel() {
                this.$emit('cancel');
            }
        },
    };
</script>
