<template>
    <div>
        <v-list dense two-line>
            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title>Caption</v-list-item-title>
                    <v-list-item-subtitle>{{classInfo.caption}}</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title>Class</v-list-item-title>
                    <v-list-item-subtitle>{{classInfo.class}}</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title>Event</v-list-item-title>
                    <v-list-item-subtitle>{{classInfo.event}}</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        <v-list dense two-line>
            <v-subheader>Props</v-subheader>

            <v-simple-table>
                <template v-slot:default>
                    <thead>
                    <tr>
                        <th class="text-left">ID</th>
                        <th class="text-left">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="prop in classInfo.props" :key="prop.id">
                        <td>{{ prop.id }}</td>
                        <td>
                            <vue-json-pretty
                                    :data="prop"
                                    :deep="3"
                                    :showLength="true"
                                    :showDoubleQuotes="false"
                                    :showLine="false"
                                    path="$props.className"
                                    @click="handleClick">
                            </vue-json-pretty>
                        </td>
                    </tr>
                    </tbody>
                </template>
            </v-simple-table>

            <v-subheader>Groups</v-subheader>
            <v-simple-table>
                <template v-slot:default>
                    <thead>
                    <tr>
                        <th class="text-left">#</th>
                        <th class="text-left">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="group in classInfo.groups" :key="group.id">
                        <td>{{ group.number }}</td>
                        <td>
                            <vue-json-pretty
                                    :data="group"
                                    :deep="3"
                                    :showLength="true"
                                    :showDoubleQuotes="false"
                                    :showLine="false"
                                    path="$props.className"
                                    @click="handleClick">
                            </vue-json-pretty>
                        </td>
                    </tr>
                    </tbody>
                </template>
            </v-simple-table>
        </v-list>

        <v-container>
            <v-subheader>All</v-subheader>

            <vue-json-pretty
                :data="classInfo"
                :deep="3"
                :showLength="true"
                :showDoubleQuotes="false"
                :showLine="false"
                path="$props.className"
                @click="handleClick">
        </vue-json-pretty>
        </v-container>
    </div>
</template>

<script>
    import tvh from "../services/tvh";
    import VueJsonPretty from 'vue-json-pretty'


    export default {
        name: "TvhClassInfo",


        components: {
            VueJsonPretty
        },

        props: {
            className: String
        },

        data: () => ({
            classInfo: {
                caption: '',
                class: ''
            },
        }),

        computed: {
            prettyClassInfo: function() {
                return JSON.stringify(this.classInfo, null, 2)
            }
        },

        async created() {
            await this.load();
        },

        methods: {
            async load() {
                const response = await tvh.$axios.get('/api/idnode/class?name=' + this.$props.className);
                this.classInfo = response.data;
            }
        }
    }


</script>

<style scoped>

</style>
