<template>

</template>

<script>
    export default {
        name: "TvhIdnodeForm",

        props: {
            uiLevel: {
                type: String,
                required: false
            },
            properties: {
                type: Array,
                required: true
            },
            meta: {
                type: Array,
                required: true
            },
        },

        data() {
            return {
                fields: [],
                groups: []
            }
        },


        mounted() {
            this.$props.properties.forEach((property) => {

            });
        },

        methods: {

        }
    }
</script>

<style scoped>

</style>
