<template>
    <svg xmlns="http://www.w3.org/2000/svg" :width="size" :height="size" viewBox="0 0 2480 2480" class="tvh-logo" :class="classes">

        <rect
                id="dot"
                class="dot"
                width="600"
                height="600"
                x="940"
                y="940"
                :fill="fill.dot"
                stroke="null"
                stroke-opacity="null"
                stroke-width="null"
                rx="80"
                transform="rotate(45 1240 1240)"
        />
        <g fill="none" id="wings">
            <path :fill="fill.wings"
                  class="wings"
                  id="wing-top"
                  stroke="none"
                  d="M1242 0c-15 0-31 4-43 16L501 713c-9 9-4 27 8 27h446c17 0 29-8 42-20l204-196c11-11 24-13 39-13 16 0 32 3 43 14l191 186c13 10 28 8 29-23V561 405 263s-7-34-20-47L1285 18a60 60 0 0 0-43-18z"/>
            <path :fill="fill.wings"
                  id="wing-right"
                  class="wings"
                  stroke="none"
                  d="M2479 1242c0-16-4-31-16-43l-698-699c-8-8-27-3-27 9v445c0 18 8 30 21 42l196 204c11 11 12 24 12 40 0 15-2 31-14 42-67 68-123 127-185 192-10 13-8 28 23 28h424s35-7 47-19l199-199c12-12 18-27 18-42z"/>
            <path :fill="fill.wings"
                  id="wing-bottom"
                  class="wings"
                  stroke="none"
                  d="M0 1237c0 15 4 31 16 43l697 698c9 9 27 3 27-8v-446c0-17-8-29-20-42l-196-204c-11-11-13-24-13-39 0-16 3-32 14-43l186-191c10-13 8-28-23-29H263s-34 7-47 20L18 1194a60 60 0 0 0-18 43z"/>
            <path :fill="fill.wings"
                  id="wing-left"
                  class="wings"
                  stroke="none"
                  d="M1241 2480c15 0 31-4 43-16l698-697c9-9 4-27-8-27h-445c-18 0-30 8-43 20l-203 196c-12 11-25 13-40 13-16 0-31-3-42-14l-192-186c-13-10-28-8-28 23v127 298s7 34 19 47l199 198c11 12 27 18 42 18z"/>
        </g>
    </svg>
</template>

<script>

    export default {
        name: "TvhLogo",

        props: {
            white: Boolean,
            dotColor: String,
            wingsColor: String,
            size: {
                type: [Number, String],
                default: 36
            },
            // classes: {
            //     type: String,
            //     default: ''
            // },
            rotating: {
                type: Boolean,
            }
        },

        computed: {
            fill: function() {
                let colors = {
                    wings: this.$vuetify.theme.currentTheme.primary,
                    dot: this.$vuetify.theme.currentTheme.secondary
                };

                if (this.white) {
                    colors.wings = '#FFFFFF';
                    colors.dot = '#FFFFFF';
                }

                if (this.dotColor) {
                    colors.dot = this.dotColor;
                }

                if (this.wingsColor) {
                    colors.wings = this.wingsColor;
                }



                return colors;
            },

            classes: function() {
                let classes = '';

                if (this.rotating) {
                    classes += ' rotate'
                }

                return classes;
            }
        }

        // computed() {
        //     return {
        //         fill: {
        //             wings: '',
        //             dot: ''
        //         }
        //     }
        //     // fillWings: ,
        //     // fillDot: this.$props.dotColor || this.$vuetify.theme.currentTheme.secondary,
        // },


    }
</script>

<style lang="scss" scoped>
    @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }

    .tvh-logo.rotate {
        -webkit-animation-name: rotate;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }

</style>
