<template>
    <div>
        <v-list-item two-line @click="handleClick">
            <v-list-item-avatar>
                <tvh-logo size="24" white />

            </v-list-item-avatar>
            <v-list-item-content>

                <v-list-item-title>{{connection.username}}</v-list-item-title>
                <v-list-item-subtitle>{{connection.host}}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
                <v-btn icon @click="handleDelete">
                    <v-icon color="grey lighten-1">mdi-delete</v-icon>
                </v-btn>
            </v-list-item-action>
        </v-list-item>
        <v-divider></v-divider>
    </div>
</template>

<script>
    import TvhLogo from "./TvhLogo";

    export default {
        components: {TvhLogo},
        props: {
            connection: {
                type: Object,
                required: true
            },
            click: [String],
        },

        methods: {
            handleClick() {
                this.$emit('click');
            },

            handleDelete() {
                this.$emit('delete');
                // this.$store.dispatch(CONNECTIONS_DELETE, this.connection);
            }
        }
    };
</script>
