<template>
    <transition name="slide-left">
    <router-view></router-view>
    </transition>
</template>

<script>
    export default {
        metaInfo: {
            // title: 'foo',
            meta: [
                { charset: 'utf-8' },
                {
                    'name': 'theme-color',
                    'content' : '#00BCFA'
                }
            ],
        }
    }
</script>
