<template>
    <v-app id="blank">
        <v-app-bar app color="primary" dark>
            <tvh-logo wings-color="white" class="mr-3" />

            <v-toolbar-title class="headline text-uppercase">
                <span>Tvheadend</span>
                <span class="font-weight-light"> admin</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>

        </v-app-bar>

        <v-content>
            <v-container class="fill-height" fluid>
                <router-view></router-view>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import TvhLogo from "../components/TvhLogo";
    export default {
        name: 'Blank',
        components: {TvhLogo},
    }
</script>
