<template>
    <v-app id="idnode-admin">
        <v-app-bar
                app
                color="red"
                clipped-left
        >
            <v-app-bar-nav-icon
                    @click.stop="drawer = !drawer"
            ></v-app-bar-nav-icon>

            <tvh-logo white class="mr-3" size="26"/>

            <v-toolbar-title class="headline text-uppercase">
                <span>Tv</span>
                <span class="font-weight-light">headend</span>
            </v-toolbar-title>


            <v-spacer></v-spacer>
            <v-btn color="" tile to="/dashboard">
                <v-icon left>mdi-exit-to-app</v-icon>
                Exit
            </v-btn>
        </v-app-bar>
        <v-navigation-drawer
                v-model="drawer"
                app
                clipped
        >

            <v-list dense
                    nav
            >
                <template v-for="item in items">

                    <v-list-group
                            v-if="item.children"
                            :key="item.title"
                            v-model="item.active"
                            :prepend-icon="item.icon"
                            no-action

                    >
                        <template v-slot:activator>
                            <v-list-item-content>
                                <v-list-item-title v-text="item.title"></v-list-item-title>
                            </v-list-item-content>
                        </template>

                        <template v-for="subItem in item.children">
                            <v-divider v-if="subItem.type === 'divider'"></v-divider>
                            <v-subheader v-else-if="subItem.type === 'subheader'" inset>{{subItem.title}}</v-subheader>
                            <v-list-item
                                    v-else
                                    :key="subItem.title"
                                    :to="subItem.to"
                                    :disabled="!subItem.to"
                                    flat
                            >

                                <v-list-item-content>
                                    <v-list-item-title>{{ subItem.title }}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </template>
                    </v-list-group>

                    <v-list-item v-if="!item.children"
                                 :key="item.title"
                                 :to="item.to"
                                 :disabled="!item.to"
                    >
                        <v-list-item-icon>
                            <v-icon v-text="item.icon"></v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                </template>


            </v-list>
        </v-navigation-drawer>


        <v-content>
            <v-container class="fill-height" fluid v-if="this['app/isLoading']">
                <base-loading/>
            </v-container>

            <fade-transition>
                <div v-show="!this['app/isLoading']">
                    <router-view/>
                </div>
            </fade-transition>
        </v-content>
    </v-app>
</template>


<script>
    import tvh from "../services/tvh";
    import TvhLogo from "../components/TvhLogo";
    import BaseLoading from "../components/BaseLoading";
    import {mapGetters, mapState} from 'vuex';
    import colors from 'vuetify/lib/util/colors'


    export default {
        name: 'IdnodeAdmin',
        components: {BaseLoading, TvhLogo},
        data() {
            return {
                drawer: true,
                user: '',
                classes: {},
                items: {
                    classes: {
                        title: 'Classes',
                        to: {name: 'ClassesList'},
                        icon: 'mdi-table',
                        active: false,
                        // children: [
                        //     {
                        //         title: 'Overview',
                        //         to: {name: 'ClassesList'}
                        //     },
                        //     {
                        //         type: 'divider'
                        //     },
                        //     {
                        //         type: 'subheader',
                        //         title: 'Classes'
                        //     }
                        // ]
                    },
                    apiPaths: {
                        title: 'API - Paths',
                        to: {name: 'ApiPathsList'},
                        active: false,
                        icon: 'mdi-folder'
                    },
                    formComponents: {
                        title: 'Form Components',
                        to: {name: 'FormComponents'},
                        active: false,
                        icon: 'mdi-puzzle'
                    }
                },

            }
        },

        computed: {
            ...mapGetters(['app/isLoading']),
            ...mapGetters(['raw/classes']),
        },

        async created() {
            // await this.buildClassesMenu();
            this.$vuetify.theme.themes.dark.primary = colors.red;
        },

        methods: {
            async buildClassesMenu() {
                await this.$store.dispatch('raw/loadClasses');

                this['raw/classes'].forEach(item => {
                    this.items.classes.children.push({
                        title: item.className,
                        to: {
                            name: 'ClassesShow',
                            params: {
                                class: item.className
                            }
                        }
                    })
                });
            }
        }
    };
</script>

<style lang="scss" scoped>

</style>
