<template>
    <v-app id="dashboard">
        <v-app-bar app color="primary" dark>
            <v-app-bar-nav-icon
                    @click.stop="drawer = !drawer"
            ></v-app-bar-nav-icon>
            <v-toolbar-title v-text="$route.meta.title"></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu
                    offset-y
            >
                <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </template>


                <v-list
                        dense
                        nav
                >
                    <v-list-item
                            to="/idnode-admin"
                    >
                        <v-list-item-icon><v-icon>mdi-dev-to</v-icon></v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>Developer Tools</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider></v-divider>
                    <v-list-item
                            to="/logout"
                    >
                        <v-list-item-icon><v-icon>mdi-logout-variant</v-icon></v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>Logout</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>

            </v-menu>
        </v-app-bar>


        <v-navigation-drawer
                v-model="drawer"
                fixed
                app>
            <v-toolbar color="primary" class="darken-1 text-center" dark>
                <tvh-logo wings-color="white" class="mr-3" />

                <v-toolbar-title class="headline text-uppercase">
                    <span>Tv</span>
                    <span class="font-weight-light">headend</span>
                </v-toolbar-title>

            </v-toolbar>

            <v-list dense>
                <v-list-item
                        v-for="item in beforeItems"
                        :key="item.title"
                        link
                        :to="item.to"
                        :disabled="!item.to"
                >
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-divider></v-divider>

                <v-list-item
                        v-for="item in items"
                        :key="item.title"
                        link
                        :to="item.to"
                        :disabled="!item.to"
                >
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-divider v-if="afterItems.length > 0"></v-divider>
                <v-list-item
                        v-for="item in afterItems"
                        :key="item.title"
                        link
                        :to="item.to"
                        :disabled="!item.to"
                >
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>
                            {{ item.title }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>


        <v-content>
            <transition mode="out-in">
                <router-view/>
            </transition>
        </v-content>



    </v-app>
</template>


<script>
    import TvhLogo from "../components/TvhLogo";

    export default {
        name: 'Dashboard',
        components: {TvhLogo},
        data: () => {
            return {
                drawer: true,
                infoDrawer: false,
                tab: null,
                beforeItems: [
                    {title: 'Dashboard', icon: 'mdi-view-dashboard', to: '/dashboard'},
                ],
                items: [
                    {title: 'Live TV', icon: 'mdi-television-play', to: '/live-tv'},
                    {title: 'Electronic Program Guide', icon: 'mdi-television-guide'},
                    {title: 'Digital Video Recorder', icon: 'mdi-record-rec'}
                ],
                afterItems: [
                    {title: 'Configuration', icon: 'mdi-settings'},
                    {title: 'Status', icon: 'mdi-eye'},
                    {title: 'Info', icon: 'mdi-information', to: '/info'},
                ],
                user: ''
            }
        },

        methods: {
            logout: function () {
                this.$store.dispatch('authLogout')
                    .then(() => {
                        this.$router.push('/login')
                    })
            }
        },
        created() {
        }
    };
</script>
